.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.gamer-background {

background-image: url('../pictures/loginBack.png');
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
background-color: #915F60;
min-height: 100vh;
}

.gamer-card {
        background: rgba(18, 18, 18, 0.85);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
        color: white;
     	padding: 40px;
    }
.gamer-card .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 8px;
    color: #333;
}

.gamer-card a {
    color: #0d6efd;
    text-decoration: none;
    transition: 0.3s;
}

.gamer-card a:hover {
    color: #0b5ed7;
    text-shadow: 0 0 8px rgba(13, 110, 253, 0.5);
}
